body {
  font-family: Arial, sans-serif;
  background: #0000009e;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}
label, select, button {
  display: block;
  width: 98%;
  margin-bottom: 10px;
}
button {
  padding: 5px;
  background-color: #0000007a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#map {
  height: 98.4vh;
  width: 100%;
}
select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
label {
  font-family: 'Impact', fantasy;
  font-size: 16px;
  margin-left: 180px;
  letter-spacing: 2px; /* Увеличивает расстояние между буквами */
}
h1 {
  text-align: center;
  font-family: 'Impact', fantasy;
  font-size: 50px;
  margin-left: 10px;
  letter-spacing: 2px; /* Увеличивает расстояние между буквами */  
}
#li {
  width: 50px;
  position: absolute;
  right: 0; /* Сдвиг от правого края */
  top: 0; /* Настройте вертикальное положение */
}